#app {
  margin: 0 auto;
  max-width: 93%;

  position: relative;
  padding-top: px(100);

  padding-left: px(10);
  padding-right: px(10);

  @include media("<=tablet") {
    padding: 0;
    max-width: 100%;
  }
}
.section {
  position: relative;
  margin-bottom: px(60);

  @include media("<=tablet") {
    padding: px(16);
    margin-bottom: px(30) !important;
  }
}
.main {
  margin-left: auto;
  margin-right: auto;
}
