.text-center {
  text-align: center;
}

.fadeIn-left {
  left: 20%;
}

// padding
.pl-0 {
  padding-left: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.p-0 {
  padding: 0 !important;
}

// margin
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.m-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.mbt-3 {
  margin-top: px(7);
  margin-bottom: px(7);
}
.mb-5 {
  margin-bottom: 5rem;
}
.mt-5 {
  margin-top: 5rem;
}
.mb-8 {
  margin-bottom: 8rem !important;
  @include media("<=tablet") {
    margin-bottom: 3rem !important;
  }
}
.mt-8 {
  margin-top: 8rem !important;
  @include media("<=tablet") {
    margin-bottom: 3rem !important;
  }
}

// color
.text-white {
  color: $color-light !important;
}
.light {
  color: $color-light;
}
.dark {
  color: $color-dark !important;
}
.primary {
  color: $color-primary !important;
}
.gray1 {
  color: $gray1;
}
.gray3 {
  color: $gray3;
}
.bg-dark {
  background-color: $color-dark;
}
.bg-light {
  background-color: $color-light;
}
.bg-gray {
  background-color: $gray1;
}
.bg-gray2 {
  background-color: $gray2 !important;
}
// text
.uppercase {
  text-transform: uppercase;
}

// image
.img-cover {
  width: 100%;
  object-fit: cover;
}
.img-wrapper {
  position: relative;
  overflow: hidden;
}

//
.no-outline {
  &:focus,
  &:focus-within,
  &:active,
  &:hover {
    outline: none;
  }
}
.no-border {
  border: unset;
}

.justify-inherit {
  justify-content: inherit !important;
}
.align-self-center {
  align-self: center;
}

// line height
.lh-60 {
  line-height: px(40);
  @include media(">=desktop") {
    line-height: px(60);
  }
}
