.text-center {
  text-align: center;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.m-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.fadeIn-left {
  left: 20%;
}
.text-white {
  color: $color-light !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.p-0 {
  padding: 0 !important;
}
