*,
::after,
::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: px(16);
  font-family: $font-primary;
  font-weight: $font-regular;
  color: $color-dark;
  line-height: 2.4rem;
}
img {
  max-width: 100%;
  display: block;
}
