.background {
  padding: px(20) px(60);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include media("<desktop") {
    padding: px(20) px(40);
  }
}
.background__title {
  font-size: px(36);
  font-family: $font-secondary;
  font-weight: $font-bold;
  letter-spacing: 0.25rem;
  line-height: 2.6rem;
  color: $color-light;
  margin: 0 0 1rem 0;
  display: inline-block;
  text-transform: uppercase;

  span {
    color: $color-primary;
  }
}
// background image
.background--image {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  min-height: px(300);
}

.background--center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .navbar-nav {
    flex: none;
    flex-direction: row;
    color: $color-light;

    a {
      color: $color-light;
      text-decoration: none;
    }
  }

  .background__title {
    font-size: px(72);
    letter-spacing: 0.1rem;
    margin: 0 0 3rem 0;
  }
}

.background__desc {
  margin-top: 0;
  margin-bottom: px(45);
  padding-right: px(30);
}

// background modify height
.background-height--large {
  min-height: px(600);

  @include media("<tablet") {
    min-height: px(500);
  }
}
.background-height--medium {
  min-height: px(500);
}

.background--full {
  background-color: $gray1;
  min-height: px(500);
}

.background--left {
  position: absolute;
  height: px(500);
  width: 40%;
  top: 0;
  left: 0;
  background-color: $gray1;
}

.background--right {
  position: absolute;
  height: px(500);
  width: 40%;
  top: 0;
  right: 0;
  background-color: $gray1;
}
