.btn {
  border: 0;
  background-color: $color-primary;
  color: $color-light;
  padding: px(4) px(15);
  font-size: px(14);
  height: px(32);
  cursor: pointer;
  outline: none;
  display: block;
}

.btn--secondary {
  background-color: $color-secondary;
}

.btn--tertiary {
  background-color: $color-tertiary;
}
.btn--rounded {
  border-radius: 2px;
}
