.btn {
  border: 0;
  background-color: $color-primary;
  color: $color-light;
  padding: px(4) px(15);
  font-size: px(14);
  height: px(32);
  cursor: pointer;
  outline: none;
  display: block;
}

.btn--secondary {
  background-color: $color-secondary;
}

.btn--tertiary {
  background-color: $color-tertiary;
}
.btn--rounded {
  border-radius: 2px;
}
.btn--search {
  border-radius: 100%;
  padding: 0;
  width: px(37) !important;
  height: px(37);
  background-color: $color-dark;
  transition: 0.4s;
  font-size: px(18);
}
.btn--scroll {
  transform: rotate(270deg);
  text-transform: uppercase;
  font-family: $font-secondary;
  font-weight: $font-regular;
  font-size: px(10);
  letter-spacing: 0.15rem;
  line-height: 2.6rem;
  color: #a3a3a3;
  background-color: $color-light;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    margin-right: px(8);
  }
  i {
    font-size: px(30);
    color: $color-dark;
    transform: rotate(90deg);
  }
}

.btn--close {
  border: unset;
  background-color: transparent;
  padding: 0.4rem 0.8rem;
  line-height: 1;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  color: $color-light;
  font-size: 2rem;
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 1;
  display: none;

  @include media("<desktop") {
    display: block;
  }
}
