.commentbox {
  .avatar {
    width: px(38);
    height: px(38);
  }
}

.comment__body {
  border-bottom: 1px solid $gray4;
}
.commnet__heading {
  @include flex(flex-start, center, nowrap, row);
}

.comment__username {
  margin-left: px(20);
}

.commentbox--edit {
  padding-left: px(50);
}
.comment__actions {
  @include flex(space-between, center, wrap, row);
}
