.divider {
  @include set-space(px(30), 0, px(30), 0);

  img {
    margin: 0 auto;
  }
}
.divider--vertical {
  img {
    transform: rotate(-90deg);
  }
}
.divider--diagonally {
  img {
    transform: rotate(-45deg);
  }
}

.divider--outline {
  width: 90vw;
  height: 80vh;
  background-color: transparent;
  border: 1px solid $gray2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.divider-outline--absolute {
  position: absolute;
  overflow: hidden;
}
.divider-outline--fixed {
  position: fixed;
}
