.divider {
  @include set-space(px(30), 0, px(30), 0);

  img {
    margin: 0 auto;
  }
}
.divider--vertical {
  img {
    transform: rotate(-90deg);
  }
}
.divider--diagonally {
  img {
    transform: rotate(-45deg);
  }
}
