.form {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  color: $color-dark;
  font-size: px(14);
  max-width: px(600);
  min-width: px(180);
  position: relative;
}
.form__item {
  box-sizing: border-box;
  padding: 0;
  color: $color-dark;
  font-size: px(14);
  margin: 0 0 px(24);
  vertical-align: top;
  position: relative;
}
.form__label {
  display: inline-block;
  flex-grow: 0;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
}

.form--vertical {
  .form-item__label {
    padding: px(4) 0;
  }

  .form__item {
    margin-bottom: 1rem;
  }
}
