.gallery {
  position: relative;
}

.gallery__item {
  position: relative;
  transition: 0.5s all ease;
  will-change: transform;
  break-inside: avoid;
}

.gallery__item.filter-hidden {
  opacity: 0 !important;
  visibility: hidden;
  position: absolute;
  transform: scale(0);
}

.gallery-nav {
  padding: px(25);

  @include media("<tablet") {
    justify-content: center;
    padding: px(10) px(4);
  }
}

.gallery-nav__link {
  padding: px(8) px(16);
  cursor: pointer;
  color: $gray2;
  transition: 0.3s all ease;
  position: relative;
  width: fit-content;

  @include media("<tablet") {
    padding: px(4) px(8);
  }

  &.is-active {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 70%;
      height: 4px;
      background-color: $color-primary;

      @include media("<tablet") {
        width: 90%;
      }
    }
  }
}

// horizontal nav
.gallery-nav--horizontal {
  .gallery-nav__link {
    padding-left: px(40);
    &.is-active {
      color: $color-dark;
      &:after {
        top: 50%;
        left: 0;
        transform: translate(0%, -50%);
        width: px(30);
        height: 2px;
        background-color: $color-dark !important;
      }
    }
  }
}
