.navbar,
.navbar-collapse {
  @include flex(flex-start, center, wrap, row);
  position: relative;

  a {
    text-decoration: none;
    color: $color-dark;
  }
  transition: 0.4s all ease;
}
.navbar {
  padding: px(8) px(16);
  transition: 0.4s all ease;

  @include media("<desktop") {
    justify-content: space-between;
  }

  .btn--search {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .input--search {
    @include media(">desktop") {
      transform: translateX(100%);
      visibility: hidden;
      opacity: 0;
    }
  }
  .form {
    min-width: auto;
  }
  .input--search.hidden {
    display: block;
    visibility: visible;
    opacity: 1;
    transform: translateX(0%);
  }
}
.navbar__brand {
  font-family: $font-secondary !important;
  font-weight: $font-bold;
  color: $color-dark;
  font-size: px(38);
  letter-spacing: px(1);
  padding: px(5) 0;
  line-height: px(24);

  span {
    color: $color-primary;
  }
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  transform: translateX(0);

  @include media(">=desktop") {
    flex-basis: auto;
  }

  @include media("<desktop") {
    transition: 0.2s all ease;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;

    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
    height: 100vh;
    padding: px(14);
    background-color: $color-primary;
  }
}
.navbar-collapse.hidden {
  transform: translateX(100%);
}

.navbar-nav {
  @include flex(center, center, wrap, row);
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  flex: 1;
  transition: 0.4s all ease;
  padding-left: 0;

  @include media("<desktop") {
    padding-left: 0;
    text-align: left;
    justify-content: flex-start;
    flex: initial;
    flex-direction: column;
    align-items: flex-start;
  }
}
.navbar__toggler {
  border: unset;
  background-color: transparent;
  padding: 0.4rem 0.8rem;
  line-height: 1;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  color: $color-primary;
  font-size: px(20);

  @include media(">=desktop") {
    display: none;
  }
}
.nav__link {
  padding: px(8) px(20);
  display: block;
  font-family: $font-secondary;
  font-weight: $font-bold;
  line-height: px(24);
  font-size: px(14);
  transition: 0.3s all ease;

  @include media("<desktop") {
    padding-left: px(10);
    padding-right: px(10);
  }

  &:hover {
    color: $color-primary !important;
    text-shadow: 0px 2px 3px rgba(110, 211, 207, 0.34);
  }

  &.is-active {
    color: $color-dark;
  }
}
