.post {
  position: relative;
  @include flex(space-between, stretch, wrap, row);
  text-decoration: none;
  margin-bottom: px(30);

  .icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
  }
}

.aspect-img {
  @include aspect-ratio(293, 523);

  img {
    @extend %absolute-center;
    width: 100%;
  }
}
.post__detail {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(-60%);
}
.post__title {
  font-family: $font-secondary;
  font-size: px(18);
  color: $color-light;
  font-weight: $font-bold;
  letter-spacing: 0.25rem;
  margin: 0;
}
.post__content {
  position: relative;
  flex: 1;
}
