.carousel {
  width: 100%;
  height: 100%;
  position: relative;

  .background__title {
    margin-bottom: 3rem;
  }
}

.carousel__detail {
  position: relative;
}

// Vertical slider
.carousel--vertial {
  .swiper-pagination-bullet {
    background-color: #cccccc;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background-color: $color-primary;
  }
  .carousel__detail {
    max-width: px(550);
  }

  .swiper-pagination {
    bottom: 0;
    left: inherit;
    right: 0;
    width: 30px;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-130%);
  }

  .swiper-pagination-bullet {
    margin: 7px 0 !important;
    background-color: $gray1;
    transition: 0.3s all ease;
  }
  .swiper-pagination-bullet-active {
    background-color: $color-primary;
    position: relative;
    width: 6px;
    height: 6px;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      border-radius: 100%;
      border: 1px solid $color-primary;
      padding: 6px;
      transform: translate(-50%, -50%);
      background-color: transparent;
    }
  }
}

// Fraction slider
.carousel--fraction {
  min-height: px(530);

  .swiper-pagination-fraction {
    display: flex;
    justify-content: flex-end;

    color: $color-light;
    padding: 0 3.4rem 2rem 0;
    bottom: 0;

    letter-spacing: 0.25rem;
    font-size: px(24);
    font-family: $font-primary;
    font-weight: $font-light;
  }
  .swiper-pagination-current {
    font-size: px(48);

    color: $color-primary;
  }

  .swiper-button-next,
  .swiper-button-prev {
    bottom: px(10);
    top: unset;
    left: 0;
    z-index: 11;

    &:after {
      content: none;
    }
    i {
      color: $color-primary;
    }
  }
  .swiper-button-next {
    transform: translateX(220%);
  }
  .swiper-button-prev {
    transform: translateX(100%);
  }
  .swiper-button-disabled {
    opacity: 1;
    i {
      color: $color-light;
    }
  }
}

// Horizontal slider
.casousel--horizontal {
  // navigation
  .swiper-button-next,
  .swiper-button-prev {
    &:after {
      content: none;
    }
    i {
      color: $color-primary;
    }
  }

  // background
  .background {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .icon > .pe-7s-keypad {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $gray3;

    @include media("<=tablet") {
      opacity: 0;
      visibility: hidden;
    }
  }

  .background__desc {
    @include limit-line-text(1);
  }
}
