.about-intro {
  .text {
    letter-spacing: 0.1rem;
    color: $color-dark;
  }

  @include media("<=tablet") {
    .text--intro {
      line-height: px(26);
    }
  }
}
.text-heading {
  max-width: px(730);
  width: 100%;

  @include media(">=desktop") {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -90%);
  }
}
