#tab-form {
  .btn.icon {
    display: flex;
    background-color: transparent;
    border: unset;
    padding: 0.8rem 2rem;

    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    i {
      color: $gray3;
      font-size: px(80);
      border: unset;
    }
  }

  form label {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: px(60);
    color: $gray3;
    cursor: text;
    -webkit-transition: color 0.2s ease-out, -webkit-transform 0.2s ease-out;
    transition: color 0.2s ease-out, -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out, color 0.2s ease-out;
    transition: transform 0.2s ease-out, color 0.2s ease-out, -webkit-transform 0.2s ease-out;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;

    &.active {
      transform: translateY(-60px) scale(0.5);
    }
  }

  .input-border--bottom {
    font-size: px(60);

    &:active,
    &:focus-within,
    &:focus {
      outline: none;
      border-top: unset !important;
      border-right: unset !important;
      border-left: unset !important;
      box-shadow: none;
    }
  }
}
